<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Neon Admin Panel">
	<meta name="author" content="">
	<title>企业情况</title>
	<link rel="stylesheet" href="/static/css/jquery-ui-1.10.3.custom.min.css">
	<link rel="stylesheet" href="/static/css/entypo.css">
	<link rel="stylesheet" href="/static/css/css.css">
	<link rel="stylesheet" href="/static/css/bootstrap.css">
	<link rel="stylesheet" href="/static/css/neon-core.css">
	<link rel="stylesheet" href="/static/css/neon-theme.css">
	<link rel="stylesheet" href="/static/css/neon-forms.css">
	<link rel="stylesheet" href="/static/css/custom.css">

	<script src="/static/js/jquery-1.11.0.min.js"></script>


</head>


<body class="page-body  page-left-in" data-url="http://neon.dev">
    <div class="page-container">
        <div class="sidebar-menu">
            <header class="logo-env">
                <div class="logo">
                        <h3 style="color: #FFFFFF;font-size: initial;font-weight: bold;margin-top: 5px;
                        text-align: center;">基于Python的招聘数据分析<br>可视化系统</h3>
                </div>
            </header>

            <div class="sidebar-user-info">
                <div class="sui-normal">
                    <a href="#" class="user-link">
                        <img style="width: 95%;border-radius: 50%" src="/media/{{ userInfo.avatar }}" width="120" alt="">
                        <span style="text-align: center;padding-top: 200px">👑</span>
                        <strong style="text-align: center;margin-top: 5px">{{ userInfo.username }}</strong>
                    </a>
                </div>
            </div>


<ul id="main-menu" class="">
    <li>
        <a href="/myApp/home">
            <i class="entypo-network"></i>
            <span>首页</span>
        </a>
    </li>
    <li>
        <a href="#">
            <i class="entypo-user"></i>
            <span>个人中心</span>
        </a>
        <ul>
            <li class="active">
                <a href="/myApp/selfInfo">
                    <i class="entypo-vcard"></i>
                    <span>个人信息</span>
                </a>
            </li>
            <li>
                <a href="/myApp/changePassword">
                    <i class="entypo-eye"></i>
                    <span>修改密码</span>
                </a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#">
            <i class="entypo-layout"></i>
            <span>数据统计</span>
        </a>
        <ul>
            <li>
                <a href="/myApp/tableData">
                    <i class="entypo-list"></i>
                    <span>数据总览</span>
                </a>
            </li>
            <li>
                <a href="/myApp/historyTableData">
                    <i class="entypo-back-in-time"></i>
                    <span>历史查阅</span>
                </a>
            </li>
        </ul>
    </li>
    <li  class="opened active">
        <a href="mailbox.html">
            <i class="entypo-chart-bar"></i>
            <span>可视化图表</span>
        </a>
        <ul>
            <li>
                <a href="/myApp/salary">
                    <i class="entypo-inbox"></i>
                    <span>薪资情况</span>
                </a>
            </li>
            <li class="active">
                <a href="/myApp/company">
                    <i class="entypo-attach"></i>
                    <span>企业情况</span>
                </a>
            </li>
            <li>
                <a href="/myApp/companyTags">
                    <i class="entypo-thumbs-up"></i>
                    <span>词云展示</span>
                </a>
            </li>
            <li>
                <a href="/myApp/educational">
                    <i class="entypo-book-open"></i>
                    <span>学历分布</span>
                </a>
            </li>
            <li>
                <a href="/myApp/companyStatus">
                    <i class="entypo-briefcase"></i>
                    <span>企业融资</span>
                </a>
            </li>
        </ul>
    </li>
</ul>

</div>
<div class="main-content">




    <div class="row"  style="display: flex">
            <div  style="margin-left: auto" class="col-md-6 col-sm-4 clearfix hidden-xs">
            <ul class="list-inline links-list pull-right">
                <li class="sep"></li>
                <li>
                    <a href="/myApp/logOut">
                        退出登录 <i class="entypo-logout right"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <hr>

    <ol class="breadcrumb bc-3">
            <li>
                <a href="#"><i class="entypo-home"></i>可视化图表</a>
            </li>
            <li class="active">
                <strong>
                    企业情况
                </strong>
            </li>
        </ol>
            <h2>企业情况</h2>
            <br>


<div class="row">
    <div class="col-md-12">
        <div class="panel panel-gradient" data-collapsed="0">
            <div class="panel-heading">
                <div class="panel-title">选择职业</div>
                <div class="panel-options">
                    <a href="#sample-modal" data-toggle="modal" data-target="#sample-modal-dialog-1"</i></a>
                    <a href="#" data-rel="collapse"><i class="entypo-down-open"></i></a>
                    <a href="#" data-rel="reload"><i class="entypo-arrows-ccw"></i></a>
                </div>
            </div>
            <div class="panel-body">
                <style>
                    .btn-group {
                        display: flex;
                        flex-wrap: nowrap; /* 防止换行 */
                        overflow-x: auto; /* 允许水平滚动 */
                        justify-content: flex-start; /* 标签从行的起始位置开始排列 */
                        padding-top: 10px; /* 增加顶部内边距 */
                        padding-bottom: 10px; /* 增加底部内边距 */
                    }
                    .btn {
                        flex: 0 0 calc(11.11% - 10px); /* 每个标签占据11.11%的宽度，减去10px的间距 */
                        margin-right: 10px; /* 每个标签的右边距 */
                        text-align: center; /* 使文本居中对齐 */
                        box-sizing: border-box; /* 确保padding和border包含在宽度内 */
                    }
                </style>
                <div class="btn-group">
                    {% if type == 'all' %}
                        <a href="#" type="button" class="btn btn-success">全部</a>
                    {% else %}
                        <a href="/myApp/company?type=all" type="button" class="btn btn-default">全部</a>
                    {% endif %}
                    {% for i in typeList %}
                        {% if i == type %}
                            <a href="#" type="button" class="btn btn-success">{{ i }}</a>
                        {% else %}
                            <a href="/myApp/company?type={{ i }}" type="button" class="btn btn-default">{{ i }}</a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>



<div class="row">
    <div class="col-md-6">
        <div class="panel panel-warning" data-collapsed="0">
            <div class="panel-heading">
                <div class="panel-title">行业数量</div>
                <div class="panel-options">
                    <a href="#sample-modal" data-toggle="modal" data-target="#sample-modal-dialog-1"</i></a>
                    <a href="#" data-rel="collapse"><i class="entypo-down-open"></i></a>
                    <a href="#" data-rel="reload"><i class="entypo-arrows-ccw"></i></a>
                </div>
            </div>
            <div class="panel-body">
                <div id="main" style="width:100%;height:480px"></div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-warning" data-collapsed="0">
            <div class="panel-heading">
                <div class="panel-title">公司地址</div>
                <div class="panel-options">
                    <a href="#sample-modal" data-toggle="modal" data-target="#sample-modal-dialog1"</i></a>
                    <a href="#" data-rel="collapse"><i class="entypo-down-open"></i></a>
                    <a href="#" data-rel="reload"><i class="entypo-arrows-ccw"></i></a>
                </div>
            </div>
            <div class="panel-body">
                <div id="mainTwo" style="width:100%;height:480px"></div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-danger" data-collapsed="0">
            <div class="panel-heading">
                <div class="panel-title">公司人数</div>
                <div class="panel-options">
                    <a href="#sample-modal" data-toggle="modal" data-target="#sample-modal-dialog-1"</i></a>
                    <a href="#" data-rel="collapse"><i class="entypo-down-open"></i></a>
                    <a href="#" data-rel="reload"><i class="entypo-arrows-ccw"></i></a>
                </div>
            </div>
            <div class="panel-body" style="text-align: center">
                <div id="mainThree" style="width: 100%; height: 480px"></div>
            </div>
        </div>
    </div>
</div>

<footer class="main">
        基于Python的招聘数据可视化分析系统🐋.
{#        <a target="_blank" href="https://www.zhipin.com/beijing/?seoRefer=index">BOSS直聘</a>#}
</footer>

    </div>
        <link rel="stylesheet" href="/static/css/jquery-jvectormap-1.2.2.css">
        <link rel="stylesheet" href="/static/css/rickshaw.min.css">
        <link rel="stylesheet" href="/static/css/datatables.responsive.css">
        <link rel="stylesheet" href="/static/css/select2-bootstrap.css">
        <link rel="stylesheet" href="/static/css/select2.css">
        <!-- Bottom Scripts -->
        <script src="/static/js/main-gsap.js"></script>
        <script src="/static/js/jquery-ui-1.10.3.minimal.min.js"></script>
        <script src="/static/js/bootstrap.js"></script>
        <script src="/static/js/joinable.js"></script>
        <script src="/static/js/resizeable.js"></script>
        <script src="/static/js/neon-api.js"></script>
        <script src="/static/js/jquery-jvectormap-1.2.2.min.js"></script>
        <script src="/static/js/jquery-jvectormap-europe-merc-en.js"></script>
        <script src="/static/js/jquery-jvectormap-world-mill-en.js"></script>
        <script src="/static/js/jquery.sparkline.min.js"></script>
        <script src="/static/js/d3.v3.js"></script>
        <script src="/static/js/rickshaw.min.js"></script>
        <script src="/static/js/neon-chat.js"></script>
        <script src="/static/js/neon-custom.js"></script>
        <script src="/static/js/neon-demo.js"></script>
        <script src="/static/js/echarts.js"></script>
        <script src="/static/js/jquery.dataTables.min.js"></script>
        <script src="/static/js/TableTools.min.js"></script>
        <script src="/static/js/dataTables.bootstrap.js"></script>
        <script src="/static/js/jquery.dataTables.columnFilter.js"></script>
        <script src="/static/js/lodash.min.js"></script>
        <script src="/static/js/datatables.responsive.js"></script>
        <script src="/static/js/fileinput.js"></script>
        <script>
            var chartDom = document.getElementById('main');
            var myChart = echarts.init(chartDom);
            var option;

            option = {
                title: {
                    text: '行业统计柱状图'
                },
                tooltip: {
                    trigger: 'axis'
                },
                toolbox: {
                    show: true,
                    feature: {
                        dataView: { show: true, readOnly: true },
                        magicType: { show: true, type: ['line', 'bar'] },
                        restore: { show: true },
                        saveAsImage: { show: true }
                    }
                },
                color: ['#707f9b'],
                legend: {
                    data: ['公司个数']
                },
                xAxis: {
                    type: 'category',
                    data: {{ rowBarData | safe }}
                },
                yAxis: {
                    type: 'value'
                },
                series: [
                    {
                        name: "公司个数",
                        data: {{ columnBarData }},
                        type: 'bar',
                        markPoint: {
                            data: [
                                { type: 'max', name: 'Max' },
                                { type: 'min', name: 'Min' }
                            ]
                        },
                        markLine: {
                            data: [{ type: 'average', name: "AVG" }]
                        },
                        itemStyle: {
                            normal: {
                                color: function (param) {
                                    var colorList = ['#c23531', '#2f4554', '#61a0a8', '#d48265', '#91c7ae', '#749f83', '#ca8622'];
                                    return colorList[Math.floor(Math.random() * colorList.length)];
                                }
                            }
                        }
                    }
                ]
            };

            if (option) {
                myChart.setOption(option);
            }
        </script>
        <script>
        var chartDom = document.getElementById('mainTwo');
        var myChart = echarts.init(chartDom);
        var option;

        option = {
            title: {
                text: '公司地址饼状图',
                padding: [20, 0, 0, 300]
            },
            tooltip: {
                trigger: 'item'
            },
            toolbox: {
                show: true,
                feature: {
                    dataView: {show: true, readOnly: true},
                    restore: {show: true},
                    saveAsImage: {show: true}
                }
            },
            legend: {
                top: '5%',
                x: 'left',
                y: 'top',
                orient: 'vertical',
                padding: [-20, 0, 0, 0]
            },
            series: [
                {
                    name: '公司数量',
                    type: 'pie',
                    radius: ['40%', '70%'],
                    avoidLabelOverlap: false,
                    label: {
                        show: false,
                        position: 'center'
                    },
                    emphasis: {
                        label: {
                            show: true,
                            fontSize: 40,
                            fontWeight: 'bold'
                        }
                    },
                    labelLine: {
                        show: false
                    },
                    data: {{ pieData | safe }}
                }
            ]
        };

        option && myChart.setOption(option);

    </script>
        <script>
                var chartDom = document.getElementById('mainThree');
                var myChart = echarts.init(chartDom);
                var option;
                option = {
                    toolbox: {
                        show: true,
                        feature: {
                            dataView: {show: true, readOnly: true},
                            magicType: {show: true, type: ['line', 'bar']},
                            restore: {show: true},
                            saveAsImage: {show: true}
                        }
                    },
                    tooltip: {
                        trigger: 'axis',
                        axisPointer: {
                            lineStyle:{
                                width:3,
                                color:'#010d96',

                            },
                        },
                    },
                    legend:{},
                    grid:{
                        left:'4%',
                        right:'3%',
                        bottom:'3',
                        containLabel:true,
                    },
                    color:['#960194','#119AC2'],
                    xAxis:[
                        {
                            type:'category',
                            boundaryGap: false,
                            data:{{ companyPeople | safe }},
                            splitLine:{
                                show:true,
                                lineStyle: {
                                    width: 1,
                                    type:'solid',
                                    color:'rgba(226,226,226,0.5)',
                                },
                            },
                            axisTick:{
                                show:false,
                            }
                        }
                    ],
                    yAxis: [
                        {
                            type:'value',
                            name:'公司个数',
                            max:800,
                            axisTick:{
                                show:true,
                            },
                            axisLabel: {color:'#587dda'},
                            axisLine:{
                                lineStyle:{
                                    width:2,
                                    color:'#96018a'
                                }
                            },
                            splitLine: {
                                lineStyle:{
                                    color:'rgba(226,226,226,0.5)'
                                }
                            },
                            splitArea:{
                                show:true,
                                areaStyle:{
                                    color:['rgba(250,250,250,0.3)','rgba(226,226,226,0.3)']
                                }
                            }
                        }
                    ],
                    series: [
                        {
                            name: '公司个数',
                            type: 'line',
                            data: {{ lineData }},
                            smooth:true,
                            symbolSize:6,
                            areaStyle: {},
                            itemStyle: {
                                borderWidth:2,
                            }
                        }
                    ]
                }
                option && myChart.setOption(option);
        </script>
    </div>
</body>
</html>