<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Neon Admin Panel">
	<meta name="author" content="">
	<title>学历分布</title>
	<link rel="stylesheet" href="/static/css/jquery-ui-1.10.3.custom.min.css">
	<link rel="stylesheet" href="/static/css/entypo.css">
	<link rel="stylesheet" href="/static/css/css.css">
	<link rel="stylesheet" href="/static/css/bootstrap.css">
	<link rel="stylesheet" href="/static/css/neon-core.css">
	<link rel="stylesheet" href="/static/css/neon-theme.css">
	<link rel="stylesheet" href="/static/css/neon-forms.css">
	<link rel="stylesheet" href="/static/css/custom.css">

	<script src="/static/js/jquery-1.11.0.min.js"></script>


</head>


<body class="page-body  page-left-in" data-url="http://neon.dev">
    <div class="page-container">
        <div class="sidebar-menu">
            <header class="logo-env">
                <div class="logo">
                        <h3 style="color: #FFFFFF;font-size: initial;font-weight: bold;margin-top: 5px;
text-align: center;">基于Python的招聘数据分析<br>可视化系统</h3>
                </div>
            </header>

            <div class="sidebar-user-info">
                <div class="sui-normal">
                    <a href="#" class="user-link">
                        <img style="width: 95%;border-radius: 50%" src="/media/{{ userInfo.avatar }}" width="120" alt="">
                        <span style="text-align: center;padding-top: 200px">👑</span>
                        <strong style="text-align: center;margin-top: 5px">{{ userInfo.username }}</strong>
                    </a>
                </div>
            </div>




<ul id="main-menu" class="">
    <li>
        <a href="/myApp/home">
            <i class="entypo-network"></i>
            <span>首页</span>
        </a>
    </li>
    <li>
        <a href="#">
            <i class="entypo-user"></i>
            <span>个人中心</span>
        </a>
        <ul>
            <li class="active">
                <a href="/myApp/selfInfo">
                    <i class="entypo-vcard"></i>
                    <span>个人信息</span>
                </a>
            </li>
            <li>
                <a href="/myApp/changePassword">
                    <i class="entypo-eye"></i>
                    <span>修改密码</span>
                </a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#">
            <i class="entypo-layout"></i>
            <span>数据统计</span>
        </a>
        <ul>
            <li>
                <a href="/myApp/tableData">
                    <i class="entypo-list"></i>
                    <span>数据总览</span>
                </a>
            </li>
            <li>
                <a href="/myApp/historyTableData">
                    <i class="entypo-back-in-time"></i>
                    <span>历史查阅</span>
                </a>
            </li>
        </ul>
    </li>
    <li  class="opened active">
        <a href="mailbox.html">
            <i class="entypo-chart-bar"></i>
            <span>可视化图表</span>
        </a>
        <ul>
            <li>
                <a href="/myApp/salary">
                    <i class="entypo-inbox"></i>
                    <span>薪资情况</span>
                </a>
            </li>
            <li>
                <a href="/myApp/company">
                    <i class="entypo-attach"></i>
                    <span>企业情况</span>
                </a>
            </li>
            <li>
                <a href="/myApp/companyTags">
                    <i class="entypo-thumbs-up"></i>
                    <span>词云展示</span>
                </a>
            </li>
            <li class="active">
                <a href="/myApp/educational">
                    <i class="entypo-book-open"></i>
                    <span>学历分布</span>
                </a>
            </li>
            <li>
                <a href="/myApp/companyStatus">
                    <i class="entypo-briefcase"></i>
                    <span>企业融资</span>
                </a>
            </li>
        </ul>
    </li>
</ul>

</div>
<div class="main-content">




    <div class="row"  style="display: flex">
            <div  style="margin-left: auto" class="col-md-6 col-sm-4 clearfix hidden-xs">
            <ul class="list-inline links-list pull-right">
                <li class="sep"></li>
                <li>
                    <a href="/myApp/logOut">
                        退出登录 <i class="entypo-logout right"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <hr>

    <ol class="breadcrumb bc-3">
            <li>
                <a href="#"><i class="entypo-home"></i>可视化图表</a>
            </li>
            <li class="active">
                <strong>
                    学历分布
                </strong>
            </li>
        </ol>
            <h2>学历分布</h2>
            <br>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-gradient" data-collapsed="0">
            <!-- panel head -->
            <div class="panel-heading">
                <div class="panel-title">选择输入框</div>
                <div class="panel-options">
                    <a href="#sample-modal" data-toggle="modal" data-target="#sample-modal-dialog-1"</i></a>
                    <a href="#" data-rel="collapse"><i class="entypo-down-open"></i></a>
                    <a href="#" data-rel="reload"><i class="entypo-arrows-ccw"></i></a>
                </div>
            </div>
            <!-- panel body -->
            <div class="panel-body">
                <form action="/myApp/educational" method="GET">
                    <div class="col-md-4">
                        <select name="educational" class="form-control">
                            {% if defaultEducation == '学历不限' %}
                                <option selected value="学历不限">学历不限</option>
                            {% else %}
                                <option value="学历不限">学历不限</option>
                            {% endif %}
                            {% for i in educations %}
                                {% if i == defaultEducation %}
                                    <option selected value="{{ i }}">{{ i }}</option>
                                {% else %}
                                    <option value="{{ i }}">{{ i }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-md-4">
                        <button type="submit" class="btn btn-info">提交</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default panel-shadow" data-collapsed="0">
            <div class="panel-heading">
                <div class="panel-title">工作年限薪资情况</div>
                <div class="panel-options">
                    <a href="#sample-modal" data-toggle="modal" data-target="#sample-modal-dialog-3"</i>
                    </a>
                    <a href="#" data-rel="collapse">
                        <i class="entypo-down-open"></i>
                    </a>
                    <a href="#" data-rel="reload">
                        <i class="entypo-arrows-ccw"></i>
                    </a>
                </div>
            </div>
            <div class="panel-body" style="text-align: center">
                {% if hasEmpty %}
                    <i class="entypo-cloud" style="font-size: 250px">
                        <h1>很抱歉，没有您想要查找的数据</h1>
                    </i>
                {% else %}
                    <div id="main" style="width: 100%; height: 480px"></div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default panel-shadow" data-collapsed="0">
            <div class="panel-heading">
                <div class="panel-title">学历人数</div>
                <div class="panel-options">
                    <a href="#sample-modal" data-toggle="modal" data-target="#sample-modal-dialog-3"</i>
                    </a>
                    <a href="#" data-rel="collapse">
                        <i class="entypo-down-open"></i>
                    </a>
                    <a href="#" data-rel="reload">
                        <i class="entypo-arrows-ccw"></i>
                    </a>
                </div>
            </div>
            <div class="panel-body" style="text-align: center">
                <div id="mainTwo" style="width: 100%; height: 480px"></div>
            </div>
        </div>
    </div>
</div>



<footer class="main">
        基于Python的招聘数据可视化分析系统🐋.
{#        <a target="_blank" href="https://www.zhipin.com/beijing/?seoRefer=index">BOSS直聘</a>#}
</footer>

    </div>
        <link rel="stylesheet" href="/static/css/jquery-jvectormap-1.2.2.css">
        <link rel="stylesheet" href="/static/css/rickshaw.min.css">
        <link rel="stylesheet" href="/static/css/datatables.responsive.css">
        <link rel="stylesheet" href="/static/css/select2-bootstrap.css">
        <link rel="stylesheet" href="/static/css/select2.css">
        <!-- Bottom Scripts -->
        <script src="/static/js/main-gsap.js"></script>
        <script src="/static/js/jquery-ui-1.10.3.minimal.min.js"></script>
        <script src="/static/js/bootstrap.js"></script>
        <script src="/static/js/joinable.js"></script>
        <script src="/static/js/resizeable.js"></script>
        <script src="/static/js/neon-api.js"></script>
        <script src="/static/js/jquery-jvectormap-1.2.2.min.js"></script>
        <script src="/static/js/jquery-jvectormap-europe-merc-en.js"></script>
        <script src="/static/js/jquery-jvectormap-world-mill-en.js"></script>
        <script src="/static/js/jquery.sparkline.min.js"></script>
        <script src="/static/js/d3.v3.js"></script>
        <script src="/static/js/rickshaw.min.js"></script>
        <script src="/static/js/neon-chat.js"></script>
        <script src="/static/js/neon-custom.js"></script>
        <script src="/static/js/neon-demo.js"></script>
        <script src="/static/js/echarts.js"></script>
        <script src="/static/js/jquery.dataTables.min.js"></script>
        <script src="/static/js/TableTools.min.js"></script>
        <script src="/static/js/dataTables.bootstrap.js"></script>
        <script src="/static/js/jquery.dataTables.columnFilter.js"></script>
        <script src="/static/js/lodash.min.js"></script>
        <script src="/static/js/datatables.responsive.js"></script>
        <script src="/static/js/fileinput.js"></script>
        <script>
        var chartDom = document.getElementById('main');
        var myChart = echarts.init(chartDom);
        var option;

        const colors = ['#5470C6', '#b975cc'];
        option = {
            color: colors,
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'cross'
                }
            },
            grid: {
                right: '20%'
            },
            toolbox: {
                feature: {
                    dataView: {show: true, readOnly: false},
                    magicType: {show: true, type: ['line', 'bar']},
                    restore: {show: true},
                    saveAsImage: {show: true},

                }
            },
            legend: {
                data: ['薪资平均值', '人数']
            },
            xAxis: [
                {
                    type: 'category',
                    axisTick: {
                        alignWithLabel: true
                    },
                    // prettier-ignore
                    data: {{ workExperiences | safe }}
                }
            ],
            yAxis: [
                {
                    type: 'value',
                    name: '薪资平均值',
                    position: 'right',
                    alignTicks: true,
                    axisLine: {
                        show: true,
                        lineStyle: {
                            color: colors[0]
                        }
                    },
                    axisLabel: {
                        formatter: '{value} ￥'
                    },
                    splitLine: {show: false}
                },
                {
                    type: 'value',
                    name: '人数',
                    position: 'left',
                    alignTicks: true,
                    axisLine: {
                        show: true,
                        lineStyle: {
                            color: colors[1]
                        }
                    },
                    axisLabel: {
                        formatter: '{value} 人'
                    }
                }
            ],

            series: [
                {
                    name: '薪资平均值',
                    type: 'bar',
                    data: {{ charDataColumnOne }}
                },
                {
                    name: '人数',
                    type: 'bar',
                    yAxisIndex: 1,
                    data: {{ charDataColumnTwo }}
                }
            ]
        };

        option && myChart.setOption(option);

    </script>
    <script>
        var chartDom = document.getElementById('mainTwo');
        var myChart = echarts.init(chartDom);
        var option;

        option = {
            color: 'black',
            title: {
                text: '学历人数柱状图'
            },
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    type: 'shadow'
                }
            },
            toolbox: {
                feature: {
                    dataView: {show: true, readOnly: false},
                    magicType: {show: true, type: ['line', 'bar']},
                    restore: {show: true},
                    saveAsImage: {show: true},

                }
            },
            legend: {},
            grid: {
                left: '3%',
                right: '4%',
                bottom: '3%',
                containLabel: true
            },
            xAxis: {
                type: 'value',
                boundaryGap: [0, 0.01]
            },
            yAxis: {
                type: 'category',
                data: {{ barDataRow | safe }}
            },
            series: [
                {
                    name: '人数',
                    type: 'bar',
                    data: {{ barDataColumn }},
                    markPoint: {
                        data: [
                            {type: 'max', name: 'Max'},
                            {type: 'min', name: 'Min'}
                        ]
                    },
                    markLine: {
                        data: [{type: 'average', name: 'AVG'}]
                    },
                    itemStyle: {
                        normal: {
                            color: (param) => {
                                var colorList = [
                                    '#ffc300',
                                    '#2f4554',
                                    '#4a7bf7',
                                    '#7ed321',
                                    '#91c7ae',
                                    '#749f83',
                                    '#f75954'
                                ];
                                return colorList[Math.floor(Math.random() * colorList.length)];
                            }
                        }
                    }
                }
            ]
        };

        option && myChart.setOption(option);

    </script>
    </div>
</body>
</html>